.title {
  color: red;
}
#miruna {
  color: yellow;
}
.myOwnTittle {
  color: black;
  font-size: 19px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}
.pink {
  color: redk;
  font-size: 12px;
}
